<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../../assets/logo_wePay.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form (ngSubmit)="onSubmit( rF )" #rF="ngForm">

            <span *ngIf="rF.submitted && rF.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
            <input class="fadeIn second" type="text" name="email" [(ngModel)]="usuario.email" required email placeholder="Email">

            <span *ngIf="rF.submitted && rF.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span>
            <input class="fadeIn thrid" type="text" name="nombre" [(ngModel)]="usuario.nombre" required minlength="2" placeholder="Nombre y apellidos">

            <span *ngIf="rF.submitted && rF.controls['password'].errors" class="text-danger animated fadeIn">La contraseña debe de ser más de 6 letras</span>
            <input class="fadeIn fourth" type="text" name="password" [(ngModel)]="usuario.password" required minlength="6" placeholder="Password">

            <button class="btn btn-primary fadeIn fourth" type="submit">
                Crear cuenta
            </button>

        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            <br>
            <a routerLink="/login" class="txt1">
                ¿Ya tienes cuenta? / Ingresar
            </a>
        </div>

    </div>
</div>