<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">
    <div *ngFor="let chat of chats" [ngClass]="{'text-right': _chat.userUid === chat.uid}">
        <span class="badge" [ngClass]="{'badge-primary': _chat.userUid == chat.uid, 
                                        'badge-success': _chat.userUid != chat.uid}">{{nombreUser(chat.uid)}}</span>
        <p>
            {{ chat.mensaje }}
        </p>
    </div>
</div>
<input type="text" class="form-control" id="mensaje" name="mensaje" [(ngModel)]="mensaje" maxlength="50" placeholder="Enviar mensaje" (keyup.enter)="enviarMensaje()">