<div *ngIf="loading" class="text-center">
    <div class="text-center">
        <h1>Selecciona una sala de la lista</h1>
    </div>
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#prueba">
        <i class="fas fa-list"></i> Mis salas
    </button>
    <div class="text-center m-5">
        <h2>Crear sala</h2>
        <div class="container">
            <div class="row justify-content-center">
                <form (ngSubmit)="crearSala( f )" #f="ngForm" class="form-inline">
                    <input type="text" class="form-control mr-2" name="creandoSala" [(ngModel)]="nombreSala" placeholder="Nombre de la nueva sala" required minlength="4" maxlength="16">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-plus"></i> Crear sala
                    </button>
                </form>
            </div>
            <div class="row justify-content-center">
                <span *ngIf="f.submitted && f.controls['creandoSala'].errors" class="text-danger animated fadeIn">Obligatorio nombre de sala de al menos 4 caracteres y máximo 16 caracteres</span>
            </div>
        </div>
    </div>
    <div class="text-center m-5">
        <h2>Unirse a sala</h2>
        <div class="container">
            <div class="row justify-content-center">
                <form (ngSubmit)="buscarSala( r )" #r="ngForm" class="form-inline">
                    <input type="text" class="form-control mr-2" name="buscandoSala" [(ngModel)]="codigoSala" placeholder="Código de Sala" required minlength="6">
                    <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search"></i> Buscar sala
                            </button>
                </form>
            </div>
            <div class="row justify-content-center">
                <span *ngIf="r.submitted && r.controls['buscandoSala'].errors" class="text-danger animated fadeIn">Obligatorio el código de 6 caracteres</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" id="prueba" class="modal fade">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content" style="border-radius: 20px;">
            <div class="modal-header bg-primary text-white">
                <h3>Elige una sala</h3>
            </div>
            <div class="modal-body bg-light">
                <div *ngFor="let sala of myInfo.salas">
                    <div (click)="prueba(sala)" class="zoom ml-5 md-2" data-dismiss="modal">
                        <app-row-sala [idSala]="sala"></app-row-sala>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-primary">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-times-circle"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="header-nav">
        HOLA
    </div>
    <div class="body">

    </div>
    <div class="footer">
        footer
    </div>
</div>