<div *ngIf="hayInfo">
    <div class="sala row">
        <div class="img-sala m-2">
            <img [src]="infoSala.img | noimage" alt="Imagen de la sala" class="img-circle img-thumbnail">
        </div>
        <div class="title-sala text-light ml-3">
            <h3 class="m-1">{{infoSala.nombre}}</h3>
        </div>
        <div class="row config-sala mt-3">
            <div>
                <button class="btn badge-pill btn-danger btn-sm" (click)="config()">
                    <i class="fas fa-ban"></i> Abandonar sala
                </button>
            </div>
            <div *ngIf="isAdmin(myUid)" class="ml-1">
                <button class="btn badge-pill btn-warning btn-sm" (click)="config()">
                    <i class="fas fa-tools"></i> Editar
                </button>
            </div>
        </div>
    </div>
    <div class="row sala-body">
        <div class="participantes m-2" id="participantes">
            <h3 class="m-1">Participantes</h3>
            <hr>
            <div *ngFor="let iduser of infoSala.usuarios">
                <app-integrantes [idUser]="iduser" [rol]="rolSala(iduser)"></app-integrantes>
            </div>
        </div>
        <div class="chat m-2">
            <app-chat [idSala]="idSala"></app-chat>
        </div>
    </div>
</div>