<div class="row row-cols-1 row-cols-md-4 mt-5">
    <div class="col mb-4 animated fadeIn" *ngFor="let product of products">
        <div class="card">
            <img [src]="product.img | noimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.nombre}}</h5>
                <p class="card-text">{{product.descripcion}}</p>
                <div class="text-center m-3">
                    <span class="badge badge-pill badge-primary">{{product.precio}} €</span>
                </div>
                <div class="text-center m-3">
                    <app-btn-product [id]="product.propertyId" [producto]="product"></app-btn-product>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card-columns m-5 animated fadeIn">

    <div *ngFor="let product of products" class="card puntero">
        <img class="card-img-top" [src]="product.img | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{product.nombre}}</h5>
        </div>
    </div>
</div> -->