<h5><small>Cambiar imagen de sala:</small></h5>
<input type="file" accept="image/*" id="inputGroupFile04 " class="inputfile" (change)="uploadFile($event)">
<label class="btn btn-success" for="inputGroupFile04 "><span class="badge badge-pill badge-primary" *ngIf="hayArchivo">(1)</span> Escoger imagen    </label>
<div *ngIf="!puede">
    <small class="text-danger">El archivo debe ser una imagen e inferior a 1 MB</small>
</div>
<div>
    <table class="table table-bordered" *ngIf="hayArchivo ">
        <thead class="thead-dark ">
            <tr>
                <th>Nombre archivo</th>
                <th>Tamaño</th>
                <th>Progreso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{archivo.name}}</td>
                <td>{{archivo.size / 1024 / 1024 | number: '.2-2'}} MB</td>
                <td>
                    <span class="badge badge-pill badge-danger" *ngIf="!puede"><i class="fas fa-times"></i></span>
                    <button class="btn btn-success" (click)="subirImagen()" *ngIf="!estaSubiendo && !subido && puede">
                        <i class="fas fa-upload"></i> Subir
                    </button>
                    <div class="progress" *ngIf="estaSubiendo">
                        <div class="progress-bar " role="progressbar " [ngStyle]="{ 'width': (_storage.uploadPercent | async) + '%'}"></div>
                    </div>
                    <span class="badge badge-success" *ngIf="(_storage.uploadPercent | async) >= 100 && subido">Subido</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>