<div class="container md-5">
    <h2 *ngIf="newProduct">Nuevo producto</h2>
    <h2 *ngIf="!newProduct">Actualizando producto</h2>
    <form (ngSubmit)="nuevoProducto( f )" #f="ngForm">
        <div class="form-group">
            <label for="nombreProducto">Nombre del producto <span class="text-danger">*</span></label>
            <input type="text" [(ngModel)]="producto.nombre" class="form-control" id="nombreProducto" name="nombreProducto" required minlength="3">
            <span *ngIf="f.submitted && f.controls['nombreProducto'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
        </div>
        <div class="form-group">
            <label for="descripcionProducto">Descripción del producto <small>(opcional)</small></label>
            <textarea class="form-control" name="descripcionProducto" id="descripcionProducto" [(ngModel)]="producto.descripcion" rows="4"></textarea>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="categoriaProducto">Categoria <span class="text-danger">*</span></label>
                <select id="categoriaProducto" name="categoriaProducto" class="form-control" [(ngModel)]="producto.categoria" required>
                    <option value="0">Comida</option>
                    <option value="1">Bebida</option>
                    <option value="2">Utensilio</option>
                    <option value="3">Transporte</option>
                    <option value="4">Otro</option>
                </select>
                <span *ngIf="f.submitted && f.controls['categoriaProducto'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>
            </div>
            <div class="form-group col-md-2">
                <label for="precioProducto">Precio unidad <span class="text-danger">*</span></label>
                <div class="input-group">
                    <input type="number" step="0.01" class="form-control" id="precioProducto" name="precioProducto" [(ngModel)]="producto.precio" required>
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
                <span *ngIf="f.submitted && f.controls['precioProducto'].errors" class="text-danger animated fadeIn">Campo obligatorio</span>

            </div>
        </div>
        <button type="submit" class="btn btn-primary" *ngIf="newProduct">
            Crear producto
        </button>
        <button type="submit" class="btn btn-secondary" *ngIf="!newProduct">
            Actualizar producto
        </button>
    </form>
</div>