.borrar-sala {
    margin-left: auto;
}

.code {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.name {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.config-img {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}